.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

/* For WebKit-based browsers */
/* You can adjust the styles to your preference */
/* This example will create a dark gray scrollbar with a light gray thumb */
/* and a slightly transparent track */

/* The whole scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* The thumb, which is the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #2DAAE1;
  border-radius: 25px;
}

/* The track, which is the non-draggable part of the scrollbar */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes borderMovement {
  0% {
      border-color: transparent;
  }
  50% {
      border-color: #2DAAE1; 
  }
  100% {
      border-color: transparent;
  }
}

.cardDashboard{
  position: relative;
  overflow: hidden; 
  border: 2px solid transparent;
  animation: borderMovement 2s infinite;
}

.card h3{
margin-top: 5px;
}

.card h5{
color: #2DAAE1;
display: flex;
justify-content: center;
align-items: center;
}

.Charts{
display: flex;
justify-content: center;
align-items: center;
}
