tr:nth-child(even) {
    background-color: white; 
}

tr:nth-child(odd) {
    background-color: #e7e0e0; 
}

th {
    background-color: #fff;
    color: #333;
}

.link-style {
    text-decoration: underline;
    font-weight: normal;
    width: auto;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    border: none; /* Set the regular border style */
    cursor: pointer;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
    color: #2DAAE1;
}

.link-style:hover {
    color: black; 
    text-decoration: none;
}

.date-input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.active-page-button {
    background-color: black;
  }