
.page-container{
  background: linear-gradient(to bottom, #2f3551, #6e7aa1);
  width: 101%;
  height: 100%;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  margin: auto;
  margin-top: 180px;
  align-self: stretch; /* Make left-side stretch to match right-side height */
  margin-bottom: 30px;
}

.right-side{
  display: block;
  margin-top: 160px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1030px){
  .page-container{
    background: linear-gradient(to bottom, #2f3551, #6e7aa1);
    width: 104%;
    height: 100%;
    margin:auto;
  }

  .toggleButton {
    position: absolute; /* Set the position to absolute */
    left: 0; 
    z-index: 99999;
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 130px;
    background-color: transparent;
    border: none;
  }
}
